@import "/src/assets/styles/common.scss";
.bav {
  color: white;
  ul {
    margin-left: 15px;
  }
  .courseTitle {
    text-shadow: 0 0 20px #3e81ed;
  }
  .page1 {
    background: url("https://lpe.vn/img/lpe/chuong-trinh-huan-luyen/offline/bav//7-bg-1.png");
  }
  .page2 {
    background: url("https://lpe.vn/img/lpe/chuong-trinh-huan-luyen/offline/bav//7-bg-2.png");
  }
  .page3 {
    background: url("https://lpe.vn/img/lpe/chuong-trinh-huan-luyen/offline/bav//7-bg-3.png");
  }
}
